/neuroConstruct/PN1LS_allORNs_Rinput/PN1LS_allORNs_Rinput.ncx.bak
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNEURON
/neuroConstruct/PN1LS_allORNs_Rinput/morphologies/neuron_PN1_LS_sk_419138.java.ser.bak
/neuroConstruct/PN1LS_allORNs_Rinput/simulations
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNeuroML2/LEMS_PN1LS_allORNs_Rinput.xml
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNeuroML2/runsim.sh
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNeuroML2/*.png
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNeuroML2/*.svg
*.bak
