/neuroConstruct/PN1LS_allORNs_Rinput/PN1LS_allORNs_Rinput.ncx.bak
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNEURON
/neuroConstruct/PN1LS_allORNs_Rinput/morphologies/neuron_PN1_LS_sk_419138.java.ser.bak
/neuroConstruct/PN1LS_allORNs_Rinput/simulations
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNeuroML2/LEMS_PN1LS_allORNs_Rinput.xml
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNeuroML2/runsim.sh
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNeuroML2/*.png
/neuroConstruct/PN1LS_allORNs_Rinput/generatedNeuroML2/*.svg
*.bak
/nC_projects_lite/PN1LS_allORNs/generatedNEURON
/nC_projects_lite/*/simulations
/nC_projects_lite/*/generatedNeuroML2/runsim.sh
/nC_projects_lite/*/generatedNeuroML2/*.mod
x86_64
/nC_projects_lite/*/generatedNEURON
/nC_projects_lite/PN1RS_allORNs/generatedNeuroML2/DoubExpSynA.synapse.nml
/nC_projects_lite/PN1RS_allORNs/generatedNeuroML2/LEMS_PN1RS_allORNs.xml
/nC_projects_lite/PN1RS_allORNs/generatedNeuroML2/PN1RS_allORNs.net.nml
/nC_projects_lite/PN2LS_allORNs/generatedNeuroML2/DoubExpSynA.synapse.nml
/nC_projects_lite/PN2LS_allORNs/generatedNeuroML2/LEMS_PN2LS_allORNs.xml
/nC_projects_lite/PN2LS_allORNs/generatedNeuroML2/PN2LS_allORNs.net.nml
/nC_projects_lite/PN2RS_allORNs/generatedNeuroML2/DoubExpSynA.synapse.nml
/nC_projects_lite/PN2RS_allORNs/generatedNeuroML2/LEMS_PN2RS_allORNs.xml
/nC_projects_lite/PN2RS_allORNs/generatedNeuroML2/PN2RS_allORNs.net.nml
/nC_projects_lite/PN3LS_allORNs/generatedNeuroML2/DoubExpSynA.synapse.nml
/nC_projects_lite/PN3LS_allORNs/generatedNeuroML2/LEMS_PN3LS_allORNs.xml
/nC_projects_lite/PN3LS_allORNs/generatedNeuroML2/PN3LS_allORNs.net.nml
/NeuroML2/AllCells.net.png
